/* 
   RE_myPLURK_UI.css v1.1.1
   Design by SevenPan
*/



/**********河道噗文調整**********/

/*    噗文大頭貼    */
.p_img img {
  border-radius: 2px 0 0px 2px;
  box-shadow: 0px 0px 3px rgba(255, 255, 255, 0.5);
}

/*    發文者姓名    */
.name {
    text-shadow: 0 0 1px #fff, 0 0 3px #fff !important;
    z-index: 855;
}

/*    噗文行距    */
.text_holder {
  line-height: 1.6em;}
  
/*    噗本體    */
.cboxAnchor:not(.response) .plurk_cnt {
  border-radius: 0 8px 8px 8px;
  background: rgba(255, 255, 255, 0.5) !important;
  backdrop-filter:blur(20px);
  -webkit-backdrop-filter:blur(20px);
  transition: 0.1s ease;
}

/*    游標選中的噗文    */
.cboxAnchor:not(.response).display .plurk_cnt {
  background: rgba(255, 255, 255, 0.9) !important;
  backdrop-filter:blur(20px);
  border-radius: 0 8px 8px 8px;
  transition: 0.2s ease;
  min-width: 400px;
}
.cboxAnchor:not(.response).display .tr_cnt {
  min-width: 400px;
}
.cboxAnchor:not(.response).display .text_holder {
  margin-bottom: 15px;
}
.cboxAnchor:not(.response).display .manager {
  margin-top: -15px;
}


/*    展開噗文    */
.cboxAnchor:not(.response).plurk_box .plurk_cnt {
  border-radius: 0px 8px 0 0;
  background: rgba(255, 255, 255, 0.9) !important;
}
.plurk_editor_form {
  order: 4;
}

/*    展開噗文中的廣告欄    */
.cobx_ads{
  height:20px;
}

/*    重置回應欄位背景    */
.response_box {
background: none !important;
border: none;
}
.cboxAnchor.response .plurk_cnt {
background: none !important;
}
.plurk_box .mini_form {
background: none !important;
border: none;
}
#form_holder{
background: rgba(255, 255, 255, 0.7) !important;
backdrop-filter:blur(20px);
-webkit-backdrop-filter: blur(20px);
border-radius: 0 0 7px 7px;
}
.icons_holder .pif-emoticon:after {
display: none;
}
#resp_banner_ads{
border-radius: 0 0 7px 7px;
}
#form_holder .list .response:hover{
background: rgba(255, 255, 255, 0.8) !important;
border-radius:7px;
transition: 0.1s ease;
}

/*    避免噗文展開後被切掉    */
#timeline_cnt,
.block_cnt {
overflow-y: visible !important;
}
.div_inner {
height: auto !important;
position: absolute;
top: 0;
bottom: 0;
}

/*    回應數字    */
.td_response_count {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  line-height: 25px;
  font-weight: 100;
  font-size: 12px;
  transform: scale(0.8);
}
.response_count {
  padding: 0;
  border-radius: 50%;
  background: none;
}

/*    回應數字(未讀)    */
.new .response_count {
  position: relative !important;
  background-color: #FF5C5C;
  width: 25px;
  height: 25px;
}

/**********回覆框**********/

/*    新回應氣泡框    */
.new .response_count{
position: relative;
top:-28px;
left:-19px;
border-radius:30px;
background-color:#FF5C5C;
font-size: 8px;
text-align:center;
z-index:100;
width:100%;
height:100%;
min-width:30px;
max-height:25px;
line-height:8px; 
box-shadow: 0px 0px 9px 0px rgba(255, 84, 41, 0.8);
}

/*    新回應尾巴    */
.new .response_count::after {
content:"";
position:absolute;
left:2px;
top:10px;
border-style: solid solid solid solid;
border-width: 4px; 
height: 0px; 
width: 0px; 
border-color: #FF5C5C transparent transparent #FF5C5C;
}

/*    已讀框    */
.response_count{
position: relative;
top:-28px;
left:-19px;
border:5px solid transparent;
border-radius:30px;
background-color:#383838;
font-size: 10px;
text-align:center;
z-index:100;
width:100%;
height:100%;
min-width:30px;
max-height:25px;
line-height:8px; 
}

/*    已讀尾巴    */
.response_count::after {
content:"";
position:absolute;
left:2px;
top:10px;
border-style: solid solid solid solid;
border-width: 4px; 
height: 0px; 
width: 0px; 
border-color: #383838 transparent transparent #383838;
}

/*    頭貼旁鎖噗、喜歡、轉噗icon    */
.plurk_icon {
  margin: -30px 0 0 0;
}
.pinned_plurk_icon {
  left: -10px;
}
.plurk_icon.coin {
  margin-left: 15px;
}


/**********彈跳視窗**********/
/*    彈出視窗背景重置    */
._lch_ ~ .pop-window .divplurk,
._lch_ ~ .pop-window .pop-window-view,
._lch_ ~ .pop-window .response_box,
._lch_ ~ .pop-window .mini_form,
._lch_ ~ .pop-window .img-holder {
  background: none !important;
}

/*    彈跳視窗噗文和回覆輸入欄    */
._lch_ ~ .pop-window .divplurk, ._lch_ ~ .pop-window .mini_form,._lch_ ~ .pop-window .cbox_ads{
  background: rgba(255, 255, 255, 0.7) !important;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter:  blur(20px);
}

/*    點入喜歡、轉噗的視窗    */
._lch_ ~ .pop-window .pop-window-view {
  border-radius: 8px !important;
  background: rgba(255, 255, 255, 0.5) !important;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter:  blur(20px);
}

/*    點入喜歡、轉噗字樣    */
._lch_ ~ .pop-window .pop-window-view .title{
color: #FFF !important;
}

/*    彈跳視窗的回覆    */
._lch_ ~ .pop-window .response_box {
  background: rgba(255, 255, 255, 0.3) !important;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter:  blur(20px);
}

/*    彈跳視窗的圖片底色    */
._lch_ ~ .pop-window .cbox_left {
  background:rgba(0, 0, 0,0.8) !important;
  backdrop-filter:blur(20px)!important;
  -webkit-backdrop-filter:  blur(20px)!important;
}
._lch_ ~ .pop-window .pop-window-view iframe {
  background: rgba(255, 255, 255, 0.8) !important;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}

/*    彈出視窗的輸入框圓角    */
._lch_ ~ .pop-window .plurkForm.mini-mode .input_holder,
._lch_ ~ .pop-window .mini_form .input_holder {
  border-radius: 5px;
}
._lch_ ~ .pop-window .m_qualifier {
  border-radius: 5px;
}


/**********河道可視範圍調整**********/
#timeline_holder {
  height: calc(100vh - 170px) !important;
}


/**********河道瀏覽前後箭頭**********/
.browse_button .cmp_arrow_right:before, 
.browse_button .cmp_arrow_left:before, 
.browse_button .cmp_back_to_today:before{
  display:none !important; 
}

/*    左右Begine    */
div.cmp_back_to_today.pif-arrow-left, 
div.cmp_back_to_today.pif-arrow-right{
  background: rgba(56, 56, 56,0.8) !important; 
  font-size: 8px !important;
  color:#FFF !important;
  margin-top:80px;
}


/*****時間軸調整******/

/*    日期    */
.day_start{
  background:rgba(56, 56, 56,0.8) !important; 
  backdrop-filter: blur(20px);
  color:#ffffff;
  padding: 2px 10px !important;
  border-radius: 8px !important;
}

/*    時間    */
.time_start{
background: none !important;
border: 0 !important;
opacity: 0; filter: alpha(opacity=0);
} 

/*    每則噗的對應時間    */
#time_show{
  top: auto !important;
  bottom: -10%;
  background: rgba(56, 56, 56,0.5) !important;
  backdrop-filter: blur(20px);
  border: 0 !important;
  padding: 5px 10px !important;
  border-radius: 8px !important;
}
#time_show span {
color: rgba(255,255,255,0.8) !important;
 font-size: 1.5em !important;
 font-weight: 400  !important;
}
#time_show span,#time_show{
  z-index:1000;
}

/*    時間軸底線    */
div#bottom_line{
  background: none !important;
  border: 0 !important;
  opacity: 0; filter: alpha(opacity=0);
}

/*    沒有未讀訊息、顯示所有訊息字樣    */
#empty_timeline_fg, #empty_timeline_bg {
  color: rgba(255,255,255,1) !important; 
  font-size: 20px !important;
  text-shadow: 0px 0px 0px rgba(56,56,56,1); 
  font-weight:400;
} 
#empty_timeline_fg a, #empty_timeline_bg a { 
color: rgba(255,255,255,1) !important;
  font-weight:400;
}
#empty_timeline_fg a:hover, #empty_timeline_bg a:hover{ 
  color: rgba(255,255,255,1) !important;
}


/**********左下訊息選單列**********/
a#all_plurks.filter_selected.bottom_line_bg,  /*所有訊息*/
a#own_plurks_tab_btn.off_tab,  /*我發表的訊息*/
a#private_plurks_tab_btn.off_tab,  /*私人訊息*/
a#responded_plurks_tab_btn.off_tab,  /*回應過的訊息*/
a#replurked_plurks_tab_btn,   /*轉噗的訊息*/
a#favorite_plurks_tab_btn.off_tab,  /*喜歡的訊息*/
#filter_tab a.off_tab,   /*未選*/
#filter_tab a.filter_selected  /*正選*/{
  background: rgba(56, 56, 56,0.8);
  backdrop-filter:blur(20px);
  color: rgba(255,255,255,1) !important;
  font-size: 8px !important;
  border-radius: 9px !important;
  position:relative;
  top:120px;
}

 /*    檢視未讀訊息    */
div#updater a, 
a#noti_re_text,
a#mark_all_link, 
a#view_all_plurk{
  background: rgba(56, 56, 56,0.8);
  backdrop-filter:blur(20px);
  color: rgba(255,255,255,1) !important;
  font-size: 8px !important;
  border-radius: 9px !important;
  position:relative;
  top:120px;
}

a#mark_all_link{
  position:relative;
  top:100px;
}

 /*    未讀噗的數目    */
.unread_generic{
  background: rgba(255, 92, 92,0.8) !important; 
  backdrop-filter:blur(20px);
  border: 0 !important;
  color: rgba(255,255,255,1) !important;
  font-weight: 400 !important; 
  font-size: 8px !important;
  border-radius: 3px !important;
}

 /    *滑鼠移至訊息列的效果    */
#filter_tab a.off_tab:hover,
#filter_tab a.filter_selected:hover,
#updater a:hover{
  background: rgba(255, 92, 92,0.8) !important; 
  backdrop-filter:blur(20px);
  color: rgba(255,255,255,1) !important;
  text-decoration: none !important;
  border-radius: 9px !important;
  font-weight: 500 !important; 
}


/********** 個人面板設定 **********/

/*    重置背景    */
.dash-segment .segment-content {
background: none;
margin: 0;
}
#plurk-dashboard {
background: none;
border: none;
}

/*    發文版    */
.dash-group-form {
  position: relative !important;
  left: 55%;
  transform: translate(-50%, 0%);
  width: calc(100vw - 150px) !important;
  max-width: 900px !important;border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  z-index: 500;
}

.dash-group-form:hover {
  opacity: 1;filter: alpha(opacity=100);
  z-index: 1000;
  transition:opacity 0.1s ease;
}
.dash-group-form:not(:hover){
  opacity: 0.3;filter: alpha(opacity=30);
  transition:opacity 0.2s ease;
}

#plurk-dashboard .dash-group-form .segment-content {
  min-height: 60px;
}

#plurk-dashboard .plurkForm {
  display: flex;
  align-items: flex-end;/*對齊容器底部*/
  margin: 0 0 8px 4px;
  flex-wrap: wrap;/*可換行*/
  justify-content: flex-end;/*從行尾開始排*/
}

#main_poster .input_holder {
  order: 1;
  flex-grow: 1;
  border-radius: 10px;
  padding-right: 10px;
  min-width: 200px;
}

#main_poster .icons_holder {
  min-width: 190px;
  order: 2;
  margin-left: 10px;
}

#main_poster .submit_img {
  order: 3;
  width: auto;
  border-radius: 10px;
  padding: 5px 15px 0 15px;
  line-height: 30px;
  margin-right: 5px;
}

.qual_holder .m_qualifier {
  border-radius: 5px;
padding: 3px 11px 4px 10px;
}


/*    自介版    */
.dash-group-left {
  position: fixed !important;
  top: 70px;
  left: 1%;
  color: #383838;
  padding: 10px;
   width: 300px !important;
  background: none;
  border-radius: 150px;
  max-height: 115px;
  max-width:115px;
  transition:  max-height 0.15s,max-width 0.5s, transform 0.5s, background 0.5s    ease;
  border-radius 1s 1s ease;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter:  blur(20px);
  z-index: 900;
}
#dash-profile {
  margin-left: 0px;
}
.dash-group-left:hover {
  max-height: 100vh;
  max-width:500px;
  /*transform: translate(0);*/
  border-radius: 8px;
  transition: max-height 0.5s, transform 0.5s, background 0.5s, border-radius 0.3s ease;
}

#full_name,
.profile-info {
  margin-left: 110px !important;
  white-space: nowrap;/*不換行*/
}
.dash-group-left #dash-additional-info {
  width: 320px;
}

/*    個人名稱    */
#plurk-dashboard .display_name{
  margin-top: 28px;
  position: static !important;
}
#plurk-dashboard .profile-info {
  margin-top: 10px;
  position: static !important;
}

/*    自介    */
#dash-additional-info{
   margin-top: 100px;
}
/*    自介面版的傳送私人訊息鈕    */
#private_plurk{
border-radius: 5px;
margin-left:-3px;
}

/*    自介連結顏色    */
#plurk-dashboard #about_me a {
  color: #FF5C5C !important;
}

/*    噗幣位置    */
#plurk-dashboard .profile-icons {
  display: inline-block;
  left: 67px;
  bottom: 3px !important;
}

/*大頭貼圓角*/
#profile_pic {
    border-radius: 50% !important;
    transition: max-height 0.5s, transform 0.5s, background 0.5s, border-radius 0.3s ease;
}

#profile_pic:hover{
    border-radius: 8px !important;
    transition: max-height 0.5s, transform 0.5s, background 0.5s, border-radius 0.3s ease;
}

/*    統計版    */
.dash-group-right {
  position: fixed !important;
  top: 200px;
  left: 1%;
  color: white;
  padding: 10px;
  border-radius: 40px;
  max-height: 60px;
  max-width:130px;
  width: 700px !important;
  height:400px !important;
  transition:  max-height 0.15s,max-width 0.5s, transform 0.5s, background 0.5s    ease;
  border-radius 1s 1s ease;
  overflow: hidden;
  background-color: rgba(56, 56, 56, 0.6);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  z-index: 900;
  white-space: nowrap;
}
.dash-group-right:hover {
  max-height: 100vh;
  max-width:100vh;
  border-radius: 8px;
   transition: max-height 0.5s, transform 0.5s, background 0.5s, border-radius 0.3s ease;
  transform: translate(0);
}
.dash-group-left:hover + .dash-group-right {
  background: none;
  backdrop-filter: none;
  -webkit-backdrop-filter: none;
  transform: translate(22px, 0px)  scale(1.5);
  pointer-events: none;
}
.dash-group-right .segment-content {
  height: 100px;
}
#dash-stats-table {
  position: absolute;
  left: 150px;
  width: 400px !important;
}
#dash-stats h2 {
  display: none;
}
#plurk-dashboard .dash-segment #dash-stats table td {
  color: white;
}

/*    按鈕    */
#plurk-dashboard a.friend_man {
  border-radius: 8px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

/*    好友、粉絲列表、勳章    */
#friend_holder .clearfix, #fan_holder .clearfix{
width:150px;
}
#dash-award{
margin-top:-150px;
margin-left:350px;
}
#dash-fans{
margin-left:-142px;
}
#dash-friends{
margin-left:10px;
}

/*    Karma值    */
.dash-stats-karma {
  width: auto !important;
  position: absolute;
  left: -20px;
}
.karma_hover {
  display: flex;
  margin: 0px;
  left: 7px;
  text-indent: -300px;
  pointer-events: none;
}
#karma_holder {
  display: inline-block;
  position: relative;
  text-indent: 5px;
  left: 0px;
}
#karma {
  position: relative;
  display: inline-block;
  text-align: right;
  font-size: 35px;
  width: 3.5em;
  top: -10px;
  left: -5px;
  padding: 10px;
  color: #FF5C5C;
  text-shadow:  0px 0px 20px rgba(255, 92, 0, 0.5) !important;
  transition: transform 0.5s, font-size 0.5s;
}
.dash-stats-karma .help {
  display: none;
}
.dash-stats-karma {
  margin: 0 !important;
}
.dash-group-right:hover #karma {
  transform: translate(0px, 20px);
  font-size: 45px;
}

